*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #9c988b;
    cursor:pointer;
}

.wrapper{
    margin: 0 auto;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    display: block;
    background-image: url("img/background.jpg");
    border: 1px solid grey;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;

}

.card{
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.75);
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #56b3d8;
    color: #edf9f7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_name{
    font-weight: bold;
}

.avatar{
    padding: 10px;
    border:3px solid #eff9f7;
    border-radius:200px ;
}

.nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    font-size: 14px;
    color: #9d988a;
}

.nav_link{
    padding: 0;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-color: #f7f3f0;
}

.nav_link span:first-child{
    font-size: 24px;
    font-weight: bold;
}

.nav_link:first-child{
    flex:1 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
}

.nav_link:nth-child(2){
    flex:1 100px;
    border-left: 1px solid #fff;
}

.nav_link:last-child{
    flex:1 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
    border-left: 1px solid #fff;
}

.follow{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    background-color: #f7f3f0;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fdfdfd;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(244,105,62,1) 0%, rgba(255,205,199,1) 3%,
    rgba(243,129,94,1) 7%, rgba(244,102,62,1) 66%, rgba(244,102,62,1) 100%);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
    outline: none;
    transition: all 0.5s ease;
}

.button:hover{
    outline: none;
    background-color: #f2ffd2;
    box-shadow: inset 0 0 16px -5px rgba(255, 255, 255, 0.75);
}
.button:active{
    outline: none;
    color: #245789;
    box-shadow: inset 7px -33px 40px 200px rgb(218, 225, 175);
    /*background: linear-gradient(to bottom, rgb(146, 217, 211) 0%, rgb(216, 255, 253) 3%,*/
    /*rgb(216, 255, 253) 7%, rgb(197, 255, 250) 66%, rgb(183, 255, 255) 100%);*/
    transform: scale(0.9);
}

@media screen and (max-width:500px){

    .wrapper {
       width: 80%;
    }

    .card{
         width:80%;
    }
    .profile{
        display:flex;
        flex-direction:column;
        padding: 10px;
    }
    .avatar_wrapper{
        align-self: center;
    }
    /*.avatar{*/
        /*width: 80%;*/
    /*}*/
    .user_info{
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .user_name{
        font-size:18px;
    }

    .login{
        font-size:16px;
    }

    .nav{
        padding:10px;
    }

    .nav_link{
        height: 60px;
        font-size: 8px;
    }

    .nav_link a{
        font-size:18px;
    }

    .follow{
        padding:10px;
    }

    .button{
        font-size: 14px;
        height: 40px;
    }
}